<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			Hand Made Data
		</title>
		{% include html_head.html %}
	</head>
	<body>
	<div class="container">
		<div class="row">
			<div class="span12">
				<div id="header">
					Hand Made Data
				</div>
			</div>
		</div>
		
			<div class="row">
				<div class="span12">
					<div id="menu">
						<ul>
							<li class="active">Home</li>
							<li>Blog</li>
							<li>Algorithms</li>						
						 </ul>
					</div>
				</div>	
			</div>
		<div class="row">
			<div class="span8">
				<div id="content">
					<p>
						{{ content }}
					</p>		
				</div>
				{% if page.disqus %}
					{% include disqus.html %}
				{% endif %}
			</div>
			
			<div class="span4">
			<div id="posts">
				<h2>
					Recent Posts
				</h2>
				<ul class="posts">
					<li style="list-style: none">{% for post in site.posts order limit:5 %}
					</li>
					<li>
						<span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}">{{ post.title }}</a>
					</li>
					<li style="list-style: none">{% endfor %}
					</li>
				</ul>
				<a href="/blogs.html">All Blogs</a>
			</div>
			</div>
		</div>
		{% include footer.html %}
	</div>
	</body>
</html>
